
<div class="container mt-4 mb-4">
    <div class="columns">
        <div class="column col-6 text-head">
            <h1 class="home-htext">About Played</h1>
        </div>
        <div class="column col-6 text-head" style="margin: auto;">
            <img src="/img/logo.png" width="200" alt="Played Logo">

            <p class="about-text">
                Played is your numeber 1 stop to create the playlist that gives you life,
                its not just about curating sounds, it is what define the inner culture in you.
                <br>
                Do it for the Culture!
            </p>        
        </div>
    </div>
</div>