
<div class="container mt-4 mb-4">
    <div class="columns">
        <div class="column col-6 text-head">
            <h1 class="home-htext">Music is Life</h1>
            <p class="home-subtext">It is what you tell yopurself, you are part of,<br>
            You might as well create it yourself</p>
            <a href="/login" class="creat-btn text-light">Login to your Account</a>
        </div>
        <div class="column col-6">
            <img src="/img/home page.png" alt="Home Image"  class="img-responsive">
        </div>
    </div>
</div>