
html{
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    min-height:4em; 
    padding:2em 2em;
}

.logo{
    width:180px;
}

.sidespace{
    padding:2em 2em;
}

.card{
margin-bottom: 2rem;
}


/* HomePage */

.text-head{
    padding: 2rem 4rem !important;
}

.home-htext{
    font-size: 8rem;
    font-weight: 700;
    line-height: 8rem;
}

.home-subtext{
    margin-top: -4rem;
    font-size: larger;
}

.home-btn{
    padding: 16px 20px !important;
    border-radius: 20px !important;
    height: auto !important;
}





/* About Page */
.about-text{
    font-size: larger;
}




/* Login Page */
.creat-btn{
    padding: 16px 24px;
    background-color: #5755d9;
    color: white;
    border-radius: 4px;
}

/* Utilities */
.mb-4{
    margin-bottom: 4em;
}

.mt-4{
    margin-top: 4em;
}

.mab-2{
    margin-bottom:2em;
}

.mat-2{
    margin-top: 2em;
}


.active{
    text-decoration: underline !important;
    font-weight: 700;
    color: rgba(177, 139, 162, 0.267) !important;
}


.hidden{
    display: none !important;
}

.visible{
    display:block !important;
}